/* body general style*/
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
/*general div tyle for the game*/
.coin-flip{
    text-align: center;
    background-color: #20e98a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100vh;
    margin: 10px;
}
/* coin flip buttom, star fliping*/
button{
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s;

}
/*style of counters*/
.counters {
    margin-top: 20px;
    font-size: 37px;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*round the cornes of the img*/
h1 > img{
    border-radius: 10px;
}

#result {
    font-size: 40px;
}